
<div class="row">
<table class="egt table {
    border-collapse: separate;
    border-spacing: 5px;
    background: #000 url("gradient.gif") bottom left repeat-x;
    color: #fff;
 }">
   
  <tr>
    <th scope="row">ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Birth Date</th>
    <th>Nationality</th>
    <th>Country</th>
    <th>State</th>
    <th>Address</th>
    <th>Email</th>
    <th>Telephone</th>
    <th></th>
    <th></th>
  </tr>
  
    {{#each clientsFound}}

  <tr>
    <th>{{id}}</th>
    <td>{{firstName}}</td>
    <td>{{lastName}}</td>
    <td>{{birthDate}}</td>
    <td>{{nationality}}</td>
    <td>{{country}}</td>
    <td>{{state}}</td>
    <td>{{address}}</td>
    <td>{{email}}</td>
    <td>{{telephone}}</td>
    <td>
        <form action="/clients/delete/{{_id}}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn btn-danger btn-block btn-sm" type="submit">
                Delete
                </button> 
        </form>
    </td>
    <td>
        <a href="/clients/modify/{{_id}}" class="btn btn-primary btn-block btn-sm">
        Modify
        </a>
    </td>
  </tr>
        {{else}}
            <div class="card mx-auto">
                <div class="card-body">
                    <h4 class="lead">No clients have been found.</h4>
                </div> 
            </div>
    {{/each}}
    </table>
</div>

