<div class="row">
    <div class="card">
        <div class="card-header">
            <h1>Consult Clients</h1> 
        </div>
        <div class="card-body">
            <form action="/employees/dataClient/search" method='POST'> 
                <div class="form-group">
                    <label>ID Client</label>
                    <input type="number" name="clientId" min="1" step="1" id="clientId">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Search
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


    {{#if client}}
<div class="row">

    <div class="card-header">
        <h1>Data Client</h1> 
    </div>
<table class="egt table {
    border-collapse: separate;
    border-spacing: 5px;
    background: #000 url("gradient.gif") bottom left repeat-x;
    color: #fff;
 }">  
    <tr>
    <th scope="row">ID</th>
    <th>Firts Name</th>
    <th>Last Name</th>
    <th>Birth Date</th>
    <th>Nacionality</th>
    <th>Country</th>
    <th>State</th>
    <th>Address</th>
    <th>Email</th>
    <th>Telephones</th>
    </tr>

    <tr>
        <td>{{client.id}}</td>
        <td>{{client.firstName}}</td>
        <td>{{client.lastName}}</td>
        <td>{{client.birthDate}}</td>
        <td>{{client.nationality}}</td>
        <td>{{client.country}}</td>
        <td>{{client.state}}</td>
        <td>{{client.address}}</td>
        <td>{{client.email}}</td>
        <td>{{client.telephone}}</td>
    </tr>
    {{/if}}
</table>

</div>