<div class="row">
<table class="egt table {
    border-collapse: separate;
    border-spacing: 5px;
    background: #000 url("gradient.gif") bottom left repeat-x;
    color: #fff;
 }">
   
  <tr>
    <th scope="row">ID</th>
    <th>Employee ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Type</th>
    <th>Hiring Date</th>
    <th>Job Area</th>
    <th>Email</th>
    <th>Password</th>
    <th></th>
    <th></th>
  </tr>
  
    {{#each employeesFound}}

  <tr>
    <th>{{id}}</th>
    <td>{{firstName}}</td>
    <td>{{lastName}}</td>
    <td>{{type}}</td>
    <td>{{hiringDate}}</td>
    <td>{{jobArea}}</td>
    <td>{{email}}</td>
    <td>{{password}}</td>
    <td>
        <form action="/employees/delete/{{_id}}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn btn-danger btn-block btn-sm" type="submit">
                Delete
                </button> 
        </form>
    </td>
    <td>
        <a href="/employees/modify/{{_id}}" class="btn btn-primary btn-block btn-sm">
        Modify
        </a>
    </td>
  </tr>
        {{else}}
            <div class="card mx-auto">
                <div class="card-body">
                    <h4 class="lead">No employees have been found.</h4>
                    <a href="/employees/signUpEmployees" class="btn btn-success btn-block">New Employee</a>
                </div> 
            </div>
    {{/each}}
    </table>
</div>
