<div class="row">
    {{#each airports}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <p>{{airportId}}</p>
                    <p>{{airportName}}</p>
                    <p>{{country}}</p>
                    <p>{{state}}</p>
                    <p>{{airportAddress}}</p>
                    <p>{{airportEmail}}</p>
                    <p>{{airportTelephone}}</p>
                    <p>{{airportWebP}}</p>
                    
                </div>
            </div>
        </div>
</div>