<div class="row">
<table class="egt table {
    border-collapse: separate;
    border-spacing: 5px;
    background: #000 url("gradient.gif") bottom left repeat-x;
    color: #fff;
 }">
   
  <tr>
    <th scope="row">ID</th>
    <th>Name</th>
    <th>Country</th>
    <th>State</th>
    <th>Address</th>
    <th>Email</th>
    <th>Telephone</th>
    <th>Web Page</th>
    <th></th>
    <th></th>
  </tr>
  
    {{#each airportsFound}}

  <tr>
    <th>{{id}}</th>
    <td>{{name}}</td>
    <td>{{country}}</td>
    <td>{{state}}</td>
    <td>{{address}}</td>
    <td>{{email}}</td>
    <td>{{telephone}}</td>
    <td>{{webPage}}</td>
    <td>
        <form action="/airports/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger btn-block btn-sm" type="submit">
                        Delete
                    </button> 
        </form>
    </td>
    <td>
        <form action="/airports/delete/{{_id}}?_method=MODIFY" method="POST">
                    <input type="hidden" name="_method" value="MODIFY">
                    <button class="btn btn-primary btn-block btn-sm" type="submit">
                        Modify
                    </button>
        </form>
    </td>
  </tr>
        {{else}}
            <div class="card mx-auto">
                <div class="card-body">
                    <p class="lead">There are no airports yet.</p>
                </div> 
            </div>
    {{/each}}
    </table>
</div>