<div class="row">
    {{#each airportsFound}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body align-items-center d-flex justify-content-center">
                    <p>{{id}}</p> <a href="/airports/edit/{{_id}}"><i class="fas fa-edit"></i></a><br>
                    <p>{{name}}</p><br>
                    <p>{{country}}</p><br>
                    <p>{{state}}</p><br>
                    <p>{{address}}</p><br>
                    <p>{{email}}</p><br>
                    <p>{{telephone}}</p><br>
                    <p>{{webPage}}</p><br>

                    <form action="/airports/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">

                    <button class="btn btn-danger btn-block btn-sm" type="submit">
                        Delete
                    </button>
                    </form>

                </div>
            </div>
        </div>
        {{else}}
            <div class="card mx-auto">
                <div class="card-body">
                    <p class="lead">There are no airports yet.</p>
                </div> 
            </div>
    {{/each}}
</div>