<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Edit Airport</h3>
        </div>
        <div class="card-body">
            <form action="/airports/edit-airports/{{airport._id}}?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <div class="form-group">
                Name:
                    <input type="text" name="airportName" value="{{airport.name}}"></br>
                Select Country (with states):   
                    <select id="countryC" name ="country value="{{airport.country}}"></select></br>
                Select State: 
                    <select name ="state" id ="stateC">{{airport.state}}</select>  </br>
                Address:
                    <input type="text" name="airportAddress value="{{airport.address}}"></br>
                Email:
                    <input type="email" name="airportEmail" value="{{airport.email}}></br>
                Telephone:
                    <input type="text" name="airportTelephone" value="{{airport.telephone}}></br>
                Web Page:
                    <input type="text" name="airportWebP" value="{{airport.webPage}}></br>
            </div>
            <div class="form-group">
                <button class="bton btn-primary btn-block" type="submit">
                    Save
                </button>
            </div>
            </form>
        </div>
    </div>
</div>