<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Edit Airport</h3>
        </div>
        <div class="card-body">
            <form action="/airports/modify-airport/{{airport._id}}?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <div class="form-group">
                ID:
                    <input type="text" name="id" value="{{airport.id}}"></br>
                Name:
                    <input type="text" name="name" value="{{airport.name}}"></br>
                Select Country (with states):   
                    <select id="country" name ="country" value="{{airport.country}}"></select></br>
                Select State: 
                    <select name ="state" id ="state" value="{{airport.state}}"></select>  </br>
                Address:
                    <input type="text" name="address" value="{{airport.address}}"></br>
                Email:
                    <input type="email" name="email" value="{{airport.email}}"></br>
                Telephone:
                    <input type="text" name="telephone" value="{{airport.telephone}}"></br>
                Web Page:
                    <input type="text" name="webPage" value="{{airport.webPage}}"></br>
            </div>
            <div class="form-group">
                <button class="bton btn-primary btn-block" type="submit">
                    Save
                </button>
            </div>
            </form>
        </div>
    </div>
</div>